/*
* @Author: caozengchao
* @Date:   2020-05-30 22:15:09
* @Last Modified by:   caozengchao
* @Last Modified time: 2020-05-31 14:41:13
*/
body{
	background: #f3f5f7;
}
*{
    padding: 0;
    margin: 0;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear:after{
    content:"";
    display: block;
    clear: both;
    height: 0;
}
.nav{
	width: 1200px;
	height: 101px;
	margin: 0 auto;
}
.nav img{
	margin-left: 9px;
    margin-top: 33px;
    float: left;
    width: 170px;
    height: 39px;
    margin-right: 71px;
}
.nav>a{
	margin-right: 12px;
	margin-left: 31px;
	line-height: 101px;
	float: right;
	font-size:14px;
	font-weight:400;
	color:rgba(102,102,102,1);
}
.nav1{
	float: left;
	margin-top: 31px;
}
.nav1 li{
    float: left;
    line-height: 39px;
	margin-right: 28px;
}
.nav1 li a{
    font-size:18px;
	font-weight:400;
	color:rgba(5,5,5,1);
    float: left;
    text-align: center;
	width: 54px;
    height: 37px;
}
.nav1 ul .job{
	width: 94px;
	margin-right: 0;
}
.nav1 li  .last{
	width: 94px;
}
.nav1 li a:hover{
    border-bottom: 2px solid #00A4FF;
}
.form{
	float: right;
	margin-top: 31px;
}
.search{
	float: left;
	width: 342px;
	height: 15px;
	padding-top: 13px;
	padding-bottom: 12px;
	padding-left: 19px;
	border: 1px solid #00A4FF;

}
.submit{
	float: left;
	width: 50px;
	height: 42px;
	background:rgba(0,164,255,1) url(./imgs/soulogo.png) no-repeat center center;
	border: 1px solid rgba(0,164,255,1) ;
	vertical-align: baseline;
} 
.Banner{
	width: 100%;
	height: 420px;
	background:#1caad6;
}  
.banner{
	width: 100%;
	height: 420px;
	background:rgba(28,3,108,1);
}
.div{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.banner>div>ul>li{
	width: 100%;
	height: 420px;
	position: absolute;
	top: 0;
	left: 0;
}
.banner .banner-one{
		margin-left: 30px;
		background:url(imgs/banner1.png) no-repeat center center;

}
.banner .banner-two{
	margin-left: 30px;
	background:url(imgs/banner2.jpg) no-repeat center center;

}

.txt ul{
	position: absolute;
	top: 0;
	left: 0;
	height: 420px;
	width: 190px;
	background:rgba(0,0,0,0.3);
}
.txt li{
	line-height:44px;
	width: 190px;
	margin-left: 21px;
}
.txt li a{
	display: inline-block;
	width: 149px;
	font-size:14px;
	font-weight:400;
	color: #fff;
	background: url(imgs/fuhao.png) no-repeat center right;
}
.txt li a:hover{
	color:rgba(0,180,255,1);
	background: url(imgs/fu.png) no-repeat center right;
}
.txt .First{
	margin-top: 12px;
}
.txt .Fast{
	margin-bottom: 12px;
}
.jingpin{
	width: 1200px;
	height: 60px;
	margin: 8px auto;
	background:#fff;
}
.jingpin ul{
	padding-top: 21px
}
.jingpin ul .jptj{
	font-weight:bold;
}
.jingpin ul .jptj a{
	color:#00A4FF;
}
.jingpin li a{
	color:#050505;
	height:18px;
	font-size:16px;
}
.jingpin li a:hover{
	color:rgba(0,164,255,1);
}
.jingpin li{
	float: left;
	border-right: 1px solid #bfbfbf;
}
.jptj{
	padding-left: 34px;
	width: 98px;
}
.JQuery{
	width: 91px;
	padding-left: 31px;
}
.Spark{
	padding-left: 28px;
	width: 86px;
}
.MySQL{
	width: 102px;
	padding-left: 21px;
}
.JavaWeb{
	width: 117px;
	padding-left: 16px
}
.jingpin .xiugai{
	float: right;
	
}
.jingpin .xiugai li{
	border-right: 1px none;
}
.jingpin .xiugai a{
	color: #00A4FF;
	font-size: 14px;
	padding-right: 61px;
}
.main{
	width: 1200px;
	margin: 0 auto;
}
.top1{
	margin-top: 37px;
}
#ppp{
	margin-bottom: 21px;
}
.top1 .HEADER1{
	font-size:20px;
	font-weight:400;
	color:rgba(73,73,73,1);
	float: left;
}
.top1 .all{
	float: right;
}
.top1 .all a{
	margin-right: 31px;
	font-size:12px;
	font-weight:400;
	color:rgba(165,165,165,1);
}
.imgs img{
	width: 228px;
	height: 155px;
}
.imgs .img1{
	margin-right: 15px;
	margin-bottom: 15px;
	width: 228px;
	height: 270px;
	float: left;
	background: #fff;
}
.imgs .img{
	margin-top: 15px;
	margin-right: 15px;
	width: 227px;
	height: 270px;
	float: left;
	background: #fff;
}
.main .imgs .imgi{
	margin-right: 0;
}
.TXT{
	padding-left: 23px;
}
.Think{
	width: 185px;
	height: 34px;
	font-size:14px;
	font-weight:400;
	color:rgba(5,5,5,1);
	line-height:20px;
	margin-top: 24px;
	margin-bottom: 18px;
}
.gaoji{
	font-size: 12px;
	color: #FF7C2D;
	float: left;
}
.len{
	color: #606060;
	font-size: 12px;
	float: left;
	margin:0 7px;
}
.len1{
	color: #606060;
	font-size: 12px;
	float: left;
}
.toptop{
	margin-top: 37px;
}
.toptop ul a{
	font-size:16px;
	font-weight:400;
	color:#868686;
}
.toptop ul a:hover{
	color:rgba(0,164,255,1);
}
.toptop ul{
	width: 500px;
	height: 17px;
	margin-left: 431px;
}
.toptop ul li{
	float: left;
	margin-right:69px;
}
.main .imgs .imgg1{
	margin-right: 0;
}
.main .top37 .HEADER1{
	margin-top: 35px;
	margin-bottom: 33px;
}
.imggg .laf{
	position: relative;
	margin-right: 15px;
	float: left;
}
.imggg .love{
	position: absolute;
	top: 99px;
	left: 25px;
}
.imggg .baizi{
	color: #FFFFFF;
	font-size: 27px;
}
.imggg .huangzi{
	font-size:30px;
	font-weight:bold;
	color:rgba(249,225,3,1);
	line-height:36px;
}
.imggg .kk{
	width: 86px;
	height: 24px;
	padding-left: 17px;
	border: 1px solid #F9E103;
}
.imggg .kk a{
	text-align: center;
	font-size:13px;
	font-weight:400;
	color:rgba(249,225,3,1);
	line-height:20px;
}
.imggg .i1{
	width: 471px;
	height: 320px;
}
.main .imggg .laf0{
	margin-right: 0;
}
.imggg .kuan{
	width:228px;
	height:320px;
}
.bac{
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	height:122px;
	background: rgba(0,0,0,0.5);
	padding-left: 25px;
}
.abc21{
	margin-top: 21px;
	margin-bottom: 12px;
	
}
.name{
	margin-right: 12px;
	margin-left: 4px;
	font-size: 18px;
	float: left;
}
.JOB{
	padding-top: 3px;
	font-size: 14px;
	float: left;
}
.P{
	font-size: 12px;
}
.P p{
	padding-right: 28px;
	
}
.LT{
	width: 100%;
	height: 417px;
	background: #fff;
}
.qwe{
	width: 1200px;
	margin: 0 auto;
}
.qwe .lll{
	float: left;
	margin-top: 124px;
	padding-left: 21px;

}
.xlzx{
	font-size:36px;
	font-weight:bold;
	color:rgba(0,164,255,1);
	line-height:21px;
	margin-bottom: 35px;
}
.zly{
	margin-bottom: 33px;
	font-size:12px;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:18px;
}
.bankuai1 li .xiazai{
	width: 93px;
	padding-left: 27px;
	height: 36px;
	border: 1px solid #00A4FF;
}
.bankuai1 li .xiazai a{
	font-size:16px;
	font-weight:400;
	color:rgba(0,164,255,1);
	line-height:36px;
}
.qwe .bankuai2{
	padding-left: 0;
	margin-left: 272px
}
.bankuai2 .a1{
	font-size:16px;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:21px;
	margin-bottom: 15px;
}
.bankuai2 a{
	font-size:12px;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:21px
}
.qwe .bankuai3{
	margin-left: 146px;
}
.qwe .bankuai4{
	margin-left: 121px;
}